FaceRecognitionDemo.xcodeproj/project.pbxproj
FaceRecognitionDemo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
FaceRecognitionDemo/abelitovisese.FaceRecognitionDemo 2025-06-02 16:48.54.191.xcappdata/AppData/Library/Saved Application State/abelitovisese.FaceRecognitionDemo.savedState/2F93EC8D-D564-4703-AF7B-BED95E493645/userInfo.data
FaceRecognitionDemo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
